#apppage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
}

#apppage .view {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

.intro-subtitle {
  font-size: 24px;
}

.icons {
  background: white;
}

.icon-area .circle-icon i {
  box-shadow: 0 8px 19px rgba(91, 154, 251, 0.41);
  width: 100px;
  height: 100px;
  line-height: 1.4;
  padding: 1.8rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #fff;
}
